.flex {
  display: flex;
}

.mAuto {
  margin: 0 auto;
}

.w100 {
  width: 100%;
}

.wrapper {
  width: 900px;
}

.border {
  border: 1px solid;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}